body {
  color: black;
  background-color: tan;
  margin-left: 20px;
}
div.booklist {
  float: left;
}
ul {
  list-style: none;
}
ul li {
  cursor: Pointer;
  border-radius: 10px;
  padding: 4px;
  margin: 2px;
  -webkit-user-select: none;
  width: 250px;
  min-height: 40px;
}
ul .unread {
  color: White;
  background-color: teal;
}
ul .reading {
  color: White;
  background-color: #7EAB6F;
}
ul .read {
  color: #666;
  background-color: #8A979C;
}
ul span {
  display: inline-block;
}
nav li {
  cursor: Pointer;
  list-style: none;
}
div.book-button {
  float: right;
}
